<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Ana Sayfa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/stok_giris">Stok Giriş</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/stok_cikis">Stok Çıkış</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/birim_kayit">Birim Kayıt</a>
        </li>
    </ul>
</div> 